@font-face {
  font-family: 'Roboto-Regular';
  src: url("/fonts/Roboto-Regular.ttf"); }
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular', 'sans-serif'; }
  body header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding-top: 10px;
    transition: all 0.2s;
    height: 100px;
    position: absolute;
    z-index: 1;
    width: 100%; }
    body header .navbar ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      body header .navbar ul li {
        padding: 40px;
        font-size: 1rem;
        transition: padding 0.2s; }
        body header .navbar ul li a {
          text-decoration: none;
          color: white; }
  body header .sticky {
    position: fixed;
    background-color: black;
    width: 100%;
    padding: 0;
    z-index: 1;
    opacity: 0.9;
    height: 80px; }
    body header .sticky ul li {
      padding: 30px;
      transition: padding 0.2s; }
  body header .heroBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(27, 37, 64, 0.7), rgba(27, 37, 64, 0.9)), url("/imgs/suit.jpg");
    background-size: cover;
    height: 70vh; }
    body header .heroBanner h1 {
      font-size: 2.5rem;
      font-weight: 100;
      border: 1px solid white;
      padding: 20px; }
    body header .heroBanner button {
      border: none;
      font-size: 1rem;
      color: #FFFFFF;
      padding: 15px;
      width: auto;
      text-align: center;
      cursor: pointer;
      background: linear-gradient(-45deg, #0D47A1, #64B5F6, #FFAB00);
      background-size: 400% 400%;
      animation: Gradient 15s ease infinite; }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  body .aboutUs {
    /*Small refactor needed below*/
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    justify-content: center; }
    body .aboutUs .description {
      max-width: 600px; }
      body .aboutUs .description h3 {
        color: #ae974f; }
      body .aboutUs .description .boldIntro {
        font-weight: bold; }
    body .aboutUs .values {
      display: flex;
      flex-wrap: wrap;
      max-width: 600px; }
  body .offer {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f3f3f3; }
    body .offer .intro {
      display: flex;
      flex-direction: column;
      align-items: center; }
    body .offer .offerContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body .offer .offerContainer div {
        min-width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: 20px; }
  body .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Improvement below*/
    padding-top: 5%;
    padding-bottom: 5%; }
    body .team .teamIntro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      padding-bottom: 5%; }
    body .team .membersContainer {
      display: flex;
      align-items: center; }
      body .team .membersContainer .teamMemberBox {
        margin: 10px;
        width: 280px; }
        body .team .membersContainer .teamMemberBox .memberDetails {
          width: auto; }
        body .team .membersContainer .teamMemberBox img {
          width: 100%;
          height: 400px; }
  body .partners .owl-carousel {
    width: 1000px;
    margin: 0 auto; }
    body .partners .owl-carousel .firstSliderItem, body .partners .owl-carousel .secondSliderItem, body .partners .owl-carousel .thirdSliderItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      height: 200px; }
  body footer {
    background-color: #1b2540;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%; }
    body footer h3 {
      /*Small refactor below*/
      padding-top: 5%;
      text-align: center; }
    body footer .footerContentContainer {
      display: flex;
      justify-content: center; }
      body footer .footerContentContainer div {
        margin: 40px; }
      body footer .footerContentContainer .companySummary {
        width: 300px; }

/*# sourceMappingURL=style.css.map */
