@font-face {
  font-family: 'Roboto-Regular';
  src: url("/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: 'TrajanPro-Regular';
  src: url("/fonts/TrajanPro-Regular.otf"); }
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Light', 'sans-serif'; }
  body h3 {
    position: relative;
    display: block;
    justify-content: center;
    font-family: 'TrajanPro-Regular'; }
    body h3::after {
      content: '';
      background-color: #ae974f;
      display: block;
      height: 5px;
      bottom: 0;
      width: 50px;
      margin: 0 auto;
      margin-top: 30px; }
  body header {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
    body header .navbar {
      display: flex;
      align-items: center;
      background-color: transparent;
      padding-top: 10px;
      transition: all 0.2s;
      height: 100px;
      position: absolute;
      width: 100%;
      margin-right: 10px;
      z-index: 9999; }
      body header .navbar .logo {
        padding-left: 10px;
        height: 50px; }
      body header .navbar .hamburger {
        display: none;
        cursor: pointer;
        width: 40px;
        height: 22px;
        border: 0;
        border-top: 1px solid white;
        background: transparent;
        position: relative;
        border-bottom: 1px solid white;
        margin-right: 20px;
        transition: 0.2s;
        outline: none; }
        body header .navbar .hamburger:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-top: 1px solid #ffffff;
          transform: translateY(10px); }
      body header .navbar .menu-active {
        transition: 0.2s;
        transform: skew(45deg); }
        body header .navbar .menu-active::before {
          display: none; }
      body header .navbar ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0; }
        body header .navbar ul li {
          padding: 20px;
          font-size: 1rem;
          transition: padding 0.2s; }
          body header .navbar ul li a {
            text-decoration: none;
            color: black; }
      body header .navbar .mobile {
        display: block;
        background-color: #1b2540;
        width: 170px;
        height: 100vh;
        top: -19px;
        left: 0;
        position: absolute;
        transition: all 0.2s;
        border: 1px solid black; }
        body header .navbar .mobile li {
          color: black; }
      body header .navbar .languageSwitcher {
        height: 20px;
        position: absolute;
        right: 10px;
        opacity: 0.5;
        transition: 0.2s; }
        body header .navbar .languageSwitcher:hover {
          opacity: 1;
          transform: scale(1.1);
          transition: 0.2s; }
    body header .sticky {
      position: fixed;
      background-color: #1b2540;
      width: 100%;
      padding: 0;
      opacity: 0.9;
      height: 80px;
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
      body header .sticky ul li {
        padding: 30px;
        transition: padding 0.2s; }
        body header .sticky ul li a {
          color: white; }
    body header .heroBanner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background: url("/imgs/header-minified.jpg");
      background-size: cover;
      height: 80vh;
      background-position: center; }
      body header .heroBanner .headerIntroContainer {
        margin-left: 10px;
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 5%; }
        body header .heroBanner .headerIntroContainer h1 {
          font-family: 'TrajanPro-Regular';
          margin-bottom: 0;
          font-size: 1.8rem; }
        body header .heroBanner .headerIntroContainer p {
          text-transform: uppercase; }
        body header .heroBanner .headerIntroContainer img {
          height: 180px;
          width: 180px; }
  body .aboutUs {
    padding: 5% 15px 5% 15px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .aboutUs h3 {
      color: #1b2540;
      font-size: 1.8rem; }
    body .aboutUs .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .aboutUs .contentContainer .description {
        max-width: 800px;
        margin-bottom: 50px;
        font-family: 'Roboto-Light', 'sans-serif';
        padding: 10px;
        text-align: justify; }
        body .aboutUs .contentContainer .description .boldIntro {
          font-family: 'Roboto-Regular', 'sans-serif';
          font-size: 1.7rem; }
      body .aboutUs .contentContainer .values {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        body .aboutUs .contentContainer .values figure {
          max-width: 200px; }
          body .aboutUs .contentContainer .values figure img {
            width: 50px;
            height: 50px; }
          body .aboutUs .contentContainer .values figure .valueHeader {
            font-family: 'Roboto-Regular', 'sans-serif';
            margin-top: 0; }
  body .offer {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f3f3f3; }
    body .offer h3 {
      font-size: 1.8rem;
      color: #1b2540; }
    body .offer .intro {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .offer .intro .offerIntro {
        font-size: 1.3rem;
        font-family: 'Roboto-Regular', 'sans-serif'; }
      body .offer .intro .offerDescription {
        text-align: center;
        width: 40%;
        font-size: 1.5rem; }
    body .offer .offerContainer {
      display: flex;
      flex-wrap: wrap;
      max-width: 1240px;
      margin: 0 auto;
      justify-content: center;
      text-align: justify; }
      body .offer .offerContainer div {
        width: 350px;
        height: 370px;
        background-color: #fff;
        margin: 10px;
        padding: 20px;
        text-align: left;
        transition: 0.2s;
        position: relative;
        box-shadow: 0 0 5px rgba(33, 33, 33, 0.2); }
        body .offer .offerContainer div:hover {
          box-shadow: 0 0 50px rgba(33, 33, 33, 0.2);
          transition: 0.2s; }
        body .offer .offerContainer div img {
          max-width: 200px;
          height: 150px;
          position: absolute;
          opacity: 0.15;
          bottom: 0;
          right: 0; }
        body .offer .offerContainer div h4 {
          color: #ae974f; }
        body .offer .offerContainer div ul li {
          list-style-type: none;
          padding: 2px; }
          body .offer .offerContainer div ul li::before {
            content: ">";
            color: #1b2540;
            font-weight: bold;
            position: absolute;
            left: 50px; }
  body .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%); }
    body .team .teamIntro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      padding-bottom: 5%;
      text-align: center; }
      body .team .teamIntro h3 {
        color: #1b2540;
        font-size: 1.8rem; }
      body .team .teamIntro p {
        font-size: 1.5rem; }
    body .team .owl-team.owl-carousel {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 60%; }
      body .team .owl-team.owl-carousel .sliderItem {
        margin: 10px; }
        body .team .owl-team.owl-carousel .sliderItem img {
          width: 280px;
          height: 420px; }
        body .team .owl-team.owl-carousel .sliderItem .memberDetails .name {
          font-family: 'Roboto-Regular', 'sans-serif';
          font-weight: bold; }
        body .team .owl-team.owl-carousel .sliderItem .memberDetails .role {
          font-family: 'Roboto-Regular', 'sans-serif';
          color: #ae974f; }
        body .team .owl-team.owl-carousel .sliderItem .memberDetails .socialMedia {
          display: flex; }
          body .team .owl-team.owl-carousel .sliderItem .memberDetails .socialMedia a {
            text-decoration: none; }
            body .team .owl-team.owl-carousel .sliderItem .memberDetails .socialMedia a img {
              width: 30px;
              height: 30px;
              transition: 0.2s; }
              body .team .owl-team.owl-carousel .sliderItem .memberDetails .socialMedia a img:hover {
                transform: scale(1.2);
                transition: 0.2s;
                cursor: pointer; }
  body .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%; }
    body .partners h3 {
      color: #1b2540;
      font-size: 1.8rem;
      text-align: center;
      padding-top: 5%; }
    body .partners .owl-carousel {
      width: 50%; }
      body .partners .owl-carousel .owl-dots, body .partners .owl-carousel .owl-nav {
        display: none; }
      body .partners .owl-carousel .sliderItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px; }
        body .partners .owl-carousel .sliderItem img {
          filter: grayscale(100%);
          transition: 1s; }
          body .partners .owl-carousel .sliderItem img:hover {
            transition: 1s;
            filter: grayscale(0%); }
  body .contactForm {
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%; }
    body .contactForm h3 {
      color: #1b2540;
      font-size: 1.8rem;
      padding-top: 5%; }
    body .contactForm .form {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: 0 auto;
      padding: 20px 30px;
      max-width: calc(100vw - 40px);
      box-sizing: border-box;
      font-family: 'Montserrat',sans-serif;
      position: relative; }
      body .contactForm .form input, body .contactForm .form textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        transition: all .3s;
        border-bottom: 2px solid black; }
        body .contactForm .form input:focus, body .contactForm .form textarea:focus {
          border-bottom: 2px solid #ae974f; }
      body .contactForm .form .agreement {
        display: flex;
        flex-direction: row-reverse;
        align-items: center; }
        body .contactForm .form .agreement p span {
          text-decoration: underline; }
          body .contactForm .form .agreement p span:hover {
            cursor: pointer; }
        body .contactForm .form .agreement .termsAgreement {
          width: 80px; }
      body .contactForm .form button {
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat',sans-serif;
        border: 2px solid black;
        background: 0;
        cursor: pointer;
        transition: all .3s; }
        body .contactForm .form button:hover {
          background: #78788c;
          color: #fff; }
      body .contactForm .form .modal {
        display: none;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9999;
        left: 0;
        top: 0;
        overflow: scroll;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.4); }
        body .contactForm .form .modal .modal-content {
          background-color: #fefefe;
          border: 1px solid #888;
          width: 80%;
          margin: 15% auto;
          padding: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          animation-name: animatetop;
          animation-duration: 0.4s;
          height: 300px;
          overflow: scroll; }
          body .contactForm .form .modal .modal-content .closeButton {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold; }
          body .contactForm .form .modal .modal-content .modal-body {
            padding: 2px 16px; }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
  body .mapContainer {
    width: 100%;
    height: 350px; }
  body footer {
    background-color: #1b2540;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%; }
    body footer h3 {
      padding-top: 5%;
      text-align: center;
      font-size: 1.8rem; }
    body footer .footerContentContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body footer .footerContentContainer h4 {
        font-size: 1.3rem; }
      body footer .footerContentContainer div {
        margin: 40px; }
      body footer .footerContentContainer .companySummary {
        text-align: justify;
        width: 240px; }
        body footer .footerContentContainer .companySummary .footerDescriptionInfo {
          display: flex;
          margin: 0;
          align-items: center; }
          body footer .footerContentContainer .companySummary .footerDescriptionInfo img {
            width: 50px;
            height: 40px;
            padding-right: 10px; }
      body footer .footerContentContainer .footerNavigation ul {
        list-style-type: none;
        text-align: center;
        padding: 0; }
        body footer .footerContentContainer .footerNavigation ul li {
          padding-bottom: 15px;
          text-decoration: underline; }
          body footer .footerContentContainer .footerNavigation ul li a {
            list-style-type: none;
            text-decoration: none;
            color: white; }
      body footer .footerContentContainer .contactDetails {
        width: 240px;
        text-align: center;
        padding-bottom: 20px; }
        body footer .footerContentContainer .contactDetails p a {
          text-decoration: underline;
          color: white; }
  body .copyrightContainer p {
    text-align: center;
    opacity: 0.5; }
  body .iconsSource {
    opacity: 0.5; }
    body .iconsSource a {
      text-decoration: none;
      color: white; }

@media only screen and (min-height: 1000px) {
  body header .heroBanner {
    height: 50vh; } }
@media only screen and (max-width: 1000px) {
  body header .navbar ul li a {
    color: white; }
  body header .heroBanner {
    align-items: center;
    background-image: none;
    background-color: #1b2540; }
    body header .heroBanner .headerIntroContainer {
      color: white;
      text-align: center; }
      body header .heroBanner .headerIntroContainer img {
        height: 150px;
        width: 150px;
        margin-top: 35px; }
  body .team .owl-team.owl-carousel {
    width: 80%; } }
@media only screen and (max-width: 768px) {
  body header .navbar {
    justify-content: space-between; }
    body header .navbar ul {
      display: none;
      margin-top: 20px; }
      body header .navbar ul li a {
        color: white; }
    body header .navbar .hamburger {
      display: block; }
    body header .navbar .languageSwitcher {
      display: none; }
  body .aboutUs .contentContainer .values {
    justify-content: left; }
    body .aboutUs .contentContainer .values figure {
      max-width: inherit; }
  body .partners .owl-carousel .sliderItem {
    width: auto; }
  body .offer .intro .offerDescription {
    width: 80%;
    font-size: 1.4rem; }
  body .offer .offerContainer {
    justify-content: center; }
  body .team .teamIntro {
    width: 80%; }
    body .team .teamIntro p {
      font-size: 1.4rem; }
  body .team .teamMemberBox {
    display: flex;
    flex-direction: column;
    align-items: center; }
  body footer .footerContentContainer div {
    margin: 0; }
  body footer .footerContentContainer .footerNavigation {
    display: none; }
  body footer .footerContentContainer .companySummary p {
    padding-right: 20px; }
  body footer .copyright {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px; }
  body footer .iconsSource {
    width: 60%; } }
@media only screen and (max-width: 768px) and (orientation: landscape) {
  body header .heroBanner {
    height: 100vh; }
  body footer .copyright {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; } }
@media only screen and (min-width: 1600px) {
  body header .heroBanner {
    height: 80vh; }
    body header .heroBanner .headerIntroContainer img {
      height: 380px;
      width: 380px; }
    body header .heroBanner .headerIntroContainer h1 {
      font-size: 2.5rem; }
    body header .heroBanner .headerIntroContainer p {
      font-size: 1.5rem; } }
.employeeSubpage header .navbar .hamburger {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  .employeeSubpage header .navbar .hamburger::after {
    border-top: 1px solid black; }
.employeeSubpage .employeeDetails {
  display: flex;
  align-items: center;
  justify-content: center; }
  .employeeSubpage .employeeDetails div {
    padding: 40px; }
  .employeeSubpage .employeeDetails img {
    height: 400px;
    margin-top: 30%; }
  .employeeSubpage .employeeDetails .employeeDescription {
    max-width: 600px;
    margin-top: 10%;
    text-align: justify; }
    .employeeSubpage .employeeDetails .employeeDescription h4 {
      font-family: 'TrajanPro-Regular'; }
      .employeeSubpage .employeeDetails .employeeDescription h4:after {
        content: '';
        background-color: #ae974f;
        display: block;
        height: 5px;
        width: 50px;
        margin-top: 20px; }
@media (max-width: 1000px) {
  .employeeSubpage header .navbar ul li a {
    color: black; }
  .employeeSubpage header .sticky ul li a {
    color: white; }
  .employeeSubpage header .sticky .hamburger {
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
    .employeeSubpage header .sticky .hamburger::after {
      border-top: 1px solid white; }
  .employeeSubpage .employeeDetails {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .employeeSubpage .employeeDetails .employeeDescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .employeeSubpage .employeeDetails .employeeDescription h4 {
        font-family: 'TrajanPro-Regular'; }
        .employeeSubpage .employeeDetails .employeeDescription h4:after {
          content: '';
          height: 5px;
          margin: 0 auto;
          margin-top: 20px; } }
@media (max-width: 768px) {
  .employeeSubpage header .navbar ul li a {
    color: white; } }

/*# sourceMappingURL=style.css.map */
