body {
    margin: 0;
    padding: 0;
    .navbar {
        ul {
            display: flex;
            list-style-type: none;
        }
    }
    header {
        // height: 60vh;
        .owl-carousel {
            color: white;
            h2 {
                font-size: 2.5rem;
            }
            /*Poniszy kod na pewno mozna uprościć*/
            .firstSliderItem {
                background: 
                linear-gradient(
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.6)
                ),
                url("/imgs/deal.jpg");
                background-size: cover;
            }
            .secondSliderItem {
                background: 
                linear-gradient(
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.6)
                ),
                url("/imgs/team.jpg");
                background-size: cover;
            }
            .thirdSliderItem {
                background: 
                linear-gradient(
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.6)
                ),
                url("/imgs/suit.jpg");
                background-size: cover;
            }
            .firstSliderItem, .secondSliderItem, .thirdSliderItem {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 70vh;
            }
        }
    }
    // .aboutUs {
    //     .description {
            
    //     }
    //     .values {

    //     }
    // }
}