
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Light', 'sans-serif';
    header {
        box-shadow: 0 6px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);
        .navbar {
            display: flex;
            // justify-content: space-around;ś
            align-items: center;
            background-color: transparent;
            padding-top: 10px;
            transition: all 0.2s;
            height: 100px;
            position: absolute;
            z-index: 1;
            width: 100%;
            margin-right: 10px;
            img {
                width: 60px;
                height: 50px;
            }
            ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin:0;
                li {
                    padding: 40px;
                    font-size: 1rem;
                    transition: padding 0.2s;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        //sticky navbar class below
        .sticky {
            position: fixed;
            background-color: black;
            width: 100%;
            padding: 0;
            z-index: 1;
            opacity: 0.9;
            height: 80px;
                ul li {
                    padding: 30px;
                    transition: padding 0.2s;
                }
        }
        .heroBanner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
            // align-items: center;
            background: url("/imgs/header2.jpg");
            background-size: cover;
            height: 80vh;
            background-position: center;
            .headerIntroContainer {
                margin-left: 10px;
                width: 40%;
                h1 {
                    font-size: 3.5rem;
                    color: #1b2540;
                    font-family: serif;
                    border-bottom: 3px solid #ae974f;
                }
                button {
                    border: none;
                    font-size: 1rem;
                    color: #FFFFFF;
                    padding: 15px;
                    // width: auto;
                    width: 200px;
                    margin-top: 15px;
                    text-align: center;
                    cursor: pointer;
                    background: linear-gradient(-45deg,#1b2540, #ae974f);
                    background-size: 400% 400%;
                    animation: Gradient 15s ease infinite;
                    @keyframes Gradient {
                        0% {
                            background-position: 0% 50%
                        }
                        50% {
                            background-position: 100% 50%
                        }
                        100% {
                            background-position: 0% 50%
                        }
                    }
                    }
            }
        }
        // .owl-carousel {
        //     color: white;
        //     h2 {
        //         font-size: 2.5rem;
        //     }
        //     /*Poniszy kod na pewno mozna uprościć*/
        //     .firstSliderItem {
        //         background: 
        //         linear-gradient(
        //           rgba(0, 0, 0, 0.6),
        //           rgba(0, 0, 0, 0.6)
        //         ),
        //         url("/imgs/deal.jpg");
        //         background-size: cover;
        //     }
        //     .secondSliderItem {
        //         background: 
        //         linear-gradient(
        //           rgba(0, 0, 0, 0.6),
        //           rgba(0, 0, 0, 0.6)
        //         ),
        //         url("/imgs/team.jpg");
        //         background-size: cover;
        //     }
        //     .thirdSliderItem {
        //         background: 
        //         linear-gradient(
        //           rgba(0, 0, 0, 0.6),
        //           rgba(0, 0, 0, 0.6)
        //         ),
        //         url("/imgs/suit.jpg");
        //         background-size: cover;
        //     }
        //     .firstSliderItem, .secondSliderItem, .thirdSliderItem {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;
        //         height: 70vh;
        //     }
        // }
    }
    .aboutUs {
        /*Small refactor needed below*/
        padding-left: 15px;
        padding-right:15px;
        padding-top: 5%;
        padding-bottom: 5%;
        justify-content: space-between;
        justify-content: center;
        h3 {
            color: #ae974f;
            font-family: 'Roboto-Bold', 'sans-serif';
            text-transform: uppercase;
            font-size: 1.8rem;
        }
        .contentContainer {
            display: flex;
            .description {
                max-width: 600px;
                font-family: 'Roboto-Light', 'sans-serif';
                .boldIntro {
                    font-family: 'Roboto-Regular', 'sans-serif';
                    font-size: 1.3rem;
                }
            }  
            .values {
                display: flex;
                flex-wrap: wrap;
                max-width: 600px;
                .valueHeader {
                    font-family: 'Roboto-Regular', 'sans-serif';
                }
            }
        }
        
        
        
    }

    .offer {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #f3f3f3; 
        h3 {
            /*powtarzalne style wyjebac na gore*/
            font-size: 1.8rem;
            text-transform: uppercase;
            color: #ae974f;

        }
        .intro {
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        .offerContainer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div {
                width: 300px;
                height: 300px;
                background-color: #fff;
                margin: 10px;
                padding: 20px;
            }
        }
    }
    // .quoteSection {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     height: 20vh;
    //     opacity: 0.7;
    //     background: 
    //             url("/imgs/books.jpg");
    //             background-attachment: fixed;
    //     p {
    //         font-size: 2rem;
    //         color: white;
    //     }
    // }
    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*Improvement below*/
        padding-top: 5%;
        padding-bottom: 5%;
        .teamIntro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 45%;
            padding-bottom: 5%;
        }
        .membersContainer {
            display: flex;
            align-items: center;
            .teamMemberBox {
                margin: 10px;
                width: 280px;
                .memberDetails {
                    width: auto;
                }
                img {
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
    .contactForm {
        .form {
            width:340px;
            height:440px;
            box-shadow:0 0 40px -10px #000;
            margin:calc(50vh - 220px) auto;
            padding:20px 30px;
            max-width:calc(100vw - 40px);
            box-sizing:border-box;
            font-family:'Montserrat',sans-serif;
            position:relative;
            h2 {
                margin:10px 0;
                padding-bottom:10px;
                width:180px;
                color:#78788c;
                border-bottom:3px solid #78788c;
            }
            input {
                width:100%;
                padding:10px;
                box-sizing:border-box;
                background:none;
                outline:none;
                resize:none;
                border:0;
                font-family:'Montserrat',sans-serif;
                transition:all .3s;
                border-bottom:2px solid #bebed2;
                &:focus {
                    border-bottom:2px solid #78788c
                }
            }
            button {
                float:right;
                padding:8px 12px;
                margin:8px 0 0;
                font-family:'Montserrat',sans-serif;
                border:2px solid #78788c;
                background:0;
                color:#5a5a6e;
                cursor:pointer;
                transition:all .3s;
                &:hover {
                    background:#78788c;
                    color:#fff
                }
            }
        }
    }
    .partners {
        .owl-carousel {
            width: 1000px;
            margin: 0 auto;
            .firstSliderItem, .secondSliderItem, .thirdSliderItem {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width:200px;
                height: 200px;
            }
        }
    }
    footer {
        background-color: #1b2540;
        color: white;
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
        h3 {
            /*Small refactor below*/
            padding-top: 5%;
            text-align: center;
        }
        .footerContentContainer {
            display: flex;
            justify-content: center;
            div {
                margin: 40px;
            }
            .companySummary {
                width: 300px;
            }
            .navigation {
                ul {
                    list-style-type: none;
                    text-align: center;
                    padding: 0;    
                }
            }
        }
    }
}